:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  height: 4.5rem;
  padding: 1rem 1rem;
}

.logo-icon {
  padding: 0.25rem 0.25rem 0.5rem 0.75rem;
  line-height: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
}

.logo-icon nz-icon ::ng-deep svg {
  width: 1.5rem;
  height: 1.5rem;
}

.logo-title {
  opacity: 0;
  padding-top: 0.25rem;
  height: 2.25rem;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: .2s;
  animation-duration: .2s;
  animation-fill-mode: both;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.side-menu {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.side-menu::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
.side-menu::-webkit-scrollbar-thumb:vertical {
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(128, 128, 128, .4);
}
.side-menu::-webkit-scrollbar-thumb:horizontal {
  width: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(128, 128, 128, .4);
}
