@let user = account.currentUser();
<nz-card class="ant-card-data-detail m-0" [nzTitle]="title" [nzExtra]="toolsTpl"
  [nzActions]="editable ? [okTpl, cancelTpl] : []">
  <ng-template #toolsTpl>
    <nz-button-group>
      @if (user.privileges['app_users.update'] && editable) {
        <button type="button" nz-button nzType="primary"
          (click)="save()" [disabled]="!detailForm.valid">
          <svg-icon class="me-1" iconPath="bi/check" /> 保存
        </button>
      }
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <svg-icon class="me-1" iconPath="bi/x" /> 取消
      </button>
    </nz-button-group>
  </ng-template>
  <form class="card-body" nz-form nzLayout="vertical" #detailForm="ngForm">
    <div class="row">
      <div class="col">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="surname">姓氏</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input type="text" id="surname" name="surname"
              placeholder="请输入用户姓氏 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.surname"
            />
            </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="givenName">名称</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input type="text" id="givenName" name="givenName"
              placeholder="请输入用户名称 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.givenName"
            />
            </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="userName">用户名</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input type="text" id="userName" name="userName"
              placeholder="请输入用户用户名 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.userName"
            />
            </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col">
        @if (organizeUnitSvc.treeNodes | async; as treeNodes) {
          <nz-form-item>
            <nz-form-label nzRequired nzFor="organizeUnit.id">组织单元</nz-form-label>
            <nz-form-control nzHasFeedback>
            <nz-tree-select class="w-100" id="organizeUnit.id"
              name="organizeUnit.id" nzPlaceHolder="请选择组织单元" required
              [nzDisabled]="!editable" [nzNodes]="treeNodes"
              [(ngModel)]="model.organizeUnit!.id"
              (nzTreeClick)="onOrganizeUnitClick($event)">
            </nz-tree-select>
            </nz-form-control>
          </nz-form-item>
        }
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">电子邮箱</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input type="text" id="email" name="email"
              placeholder="请输入用户电子邮箱 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.email"
            />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <label id="emailConfirmed" name="emailConfirmed" for="emailConfirmed"
            nz-checkbox [(ngModel)]="model.emailConfirmed"
            [nzDisabled]="!editable">
            电子邮箱已确认
          </label>
        </nz-form-item>
      </div>
      <div class="col">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="phoneNumber">电话号码</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input type="text" id="phoneNumber" name="phoneNumber"
              placeholder="请输入用户电话号码 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.phoneNumber"
            />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <label id="phoneNumberConfirmed" name="phoneNumberConfirmed"
            for="phoneNumberConfirmed" nz-checkbox
            [(ngModel)]="model.phoneNumberConfirmed"
            [nzDisabled]="!editable">
            电话号码已确认
          </label>
        </nz-form-item>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <nz-form-item>
          <nz-form-label nzFor="dateOfBirth">出生日期</nz-form-label>
          <nz-form-control>
            <nz-date-picker class="w-100" id="dateOfBirth" nzId="dateOfBirth" name="dateOfBirth"
              nzPlaceHolder="请选择出生日期 ..." [(ngModel)]="dateOfBirthDate"
              [nzDisabled]="!editable" [nzInputReadOnly]="true"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col">
        <nz-form-item>
          <nz-form-label nzFor="gender">性别</nz-form-label>
          <nz-form-control>
            <nz-radio-group id="gender" name="gender" nzName="gender"
              [(ngModel)]="model.gender" [nzDisabled]="!editable">
              <label id="gender1" for="gender1" nz-radio nzValue="保密">保密</label>
              <label id="gender2" for="gender2" nz-radio nzValue="男">男</label>
              <label id="gender3" for="gender3" nz-radio nzValue="女">女</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label nzFor="streetAddress">地址</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" id="streetAddress" name="streetAddress"
          placeholder="请输入用户地址 ..."
          [disabled]="!editable"
          [(ngModel)]="model.streetAddress"
        />
        </nz-form-control>
    </nz-form-item>
    <hr />
    <nz-form-item>
      <label id="lockoutEnabled" name="lockoutEnabled" for="lockoutEnabled"
        nz-checkbox [(ngModel)]="model.lockoutEnabled"
        [nzDisabled]="!editable">
        连续输错密码时，允许锁定该用户
      </label>
    </nz-form-item>
  </form>
  <ng-template #okTpl>
    @if (user.privileges['app_users.update'] && editable) {
      <button class="float-start ms-4" type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon class="me-1" iconPath="bi/check" /> 保存
      </button>
    }
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4" type="button" nz-button nzType="default" (click)="cancel()">
      <svg-icon class="me-1" iconPath="bi/x" /> 取消
    </button>
  </ng-template>
</nz-card>
