<!--
@if (navigation.initialized) {
  <app-nav-topbar></app-nav-topbar>
}
<div class="app-main d-flex">
  @if (navigation.showSidebar) {
    <app-nav-sidebar *ngIf="navigation.showSidebar"></app-nav-sidebar>
  }
  <div class="router-main flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
-->
<nz-layout class="app-main">
  <nz-sider [nzTheme]="theme" nzCollapsible [(nzCollapsed)]="collapsed" [nzWidth]="220">
    <app-nav-sidebar-antd [collapsed]="collapsed"></app-nav-sidebar-antd>
  </nz-sider>
  <nz-layout>
    <nz-content class="router-main flex-grow-1">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
