<nz-layout class="app-main">
  @if (ui.showSider()) {
    <nz-sider [nzTheme]="ui.siderTheme()" nzWidth="var(--app-nav-sidebar-width)"
      nzCollapsible [(nzCollapsed)]="ui.siderCollapsed"
      nzBreakpoint="xxl"
      [nzTrigger]="null">
      <app-nav-sidebar-antd>
      </app-nav-sidebar-antd>
    </nz-sider>
  }
  <nz-layout>
    @if (ui.showHeader()) {
      <nz-header class="layout-header mb-3">
        <app-header></app-header>
      </nz-header>
    }
    <nz-content class="router-main flex-grow-1">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
