<nz-breadcrumb class="p-3">
  <nz-breadcrumb-item><a routerLink="/">首页</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>管理</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="container-fluid">
  <app-nav-card></app-nav-card>
  <div class="row g-0">
    <div class="col">
      <nz-card class="m-2" nzTitle="最近30天访问量统计">
        <lib-echart class="p-0" style="height: 200px;"
          config="assets/echarts/audit-logs/traffic.json">
        </lib-echart>
      </nz-card>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-4">
      <nz-card class="m-2" nzTitle="最近30天服务状态码统计">
        <lib-echart class="p-0" style="height: 200px;"
          config="assets/echarts/audit-logs/status.json">
        </lib-echart>
      </nz-card>
    </div>
    <div class="col-4">
      <nz-card class="m-2" nzTitle="最近30天服务响应时间统计">
        <lib-echart class="p-0" style="height: 200px;"
          config="assets/echarts/audit-logs/duration.json">
        </lib-echart>
      </nz-card>
    </div>
    <div class="col-4">
      <nz-card class="m-2" nzTitle="最近30天用户访问统计">
        <lib-echart class="p-0" style="height: 200px;"
          config="assets/echarts/audit-logs/user.json">
        </lib-echart>
      </nz-card>
    </div>
  </div>
</div>
