<nz-breadcrumb class="m-3">
  <nz-breadcrumb-item><a routerLink="/">首页</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/admin">管理</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>系统权限</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nz-card *ngIf="(account.info | async) as info"
        class="ant-card-data-list" nzTitle="导航菜单" [nzExtra]="cardExtra">
        <ng-template #cardExtra>
          <form nz-form>
            <nz-space>
              <nz-select *nzSpaceItem name="module" style="width: 200px;"
                [(ngModel)]="vm.searchModel.module"
                (ngModelChange)="vm.search()">
                <nz-option nzLabel="全部模块" nzValue=""></nz-option>
                <nz-option *ngFor="let m of vm.modules | async"
                  [nzValue]="m" [nzLabel]="m">
                </nz-option>
              </nz-select>
              <nz-button-group *nzSpaceItem>
                <button *ngIf="info.privileges['app_privileges.create']"
                  type="button" nz-button nzType="primary"
                  (click)="showDetail('0', true)">
                  <svg-icon class="me-1" iconPath="bi/plus"></svg-icon> 新建系统权限
                </button>
                <button type="button" nz-button nzType="default"
                  (click)="vm.search()">
                  <svg-icon class="me-1" iconPath="bi/arrow-repeat"></svg-icon> 刷新
                </button>
              </nz-button-group>
            </nz-space>
          </form>
        </ng-template>
        <ng-container *ngIf="(vm.data | async) as data">
          <nz-table nzSize="small" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true"
            [nzShowPagination]="true"
            [nzShowQuickJumper]="true"
            [nzData]="data"
            [nzTotal]="(vm.total | async)!"
            [nzShowTotal]="totalTpl"
            [nzLoading]="vm.loading"
            [nzPageIndex]="vm.pageIndex"
            [nzPageSize]="vm.pageSize"
            [nzPageSizeOptions]="vm.pageSizeOptions"
            (nzQueryParams)="loadData($event)">
            <thead>
              <tr class="sticky-top">
                <th scope="col" class="text-end text-nowrap text-muted table-row-num-col">#</th>
                <th scope="col" class="text-start text-nowrap text-muted">权限模块</th>
                <th scope="col" class="text-start text-nowrap text-muted">权限名称</th>
                <th scope="col" class="text-start text-nowrap text-muted">权限描述</th>
                <th scope="col" class="text-center text-nowrap text-muted">是否必须</th>
                <th scope="col" class="text-center text-nowrap text-muted table-action-col-3">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-end text-muted">{{i+1+vm.searchModel.skip}}</th>
                <td class="text-start">{{item.module}}</td>
                <td class="text-start">{{item.name}}</td>
                <td class="text-start">{{item.description}}</td>
                <td class="text-center" [class.text-danger]="item.isRequired">{{item.isRequired ? '是' : '否'}}</td>
                <td class="text-center">
                  <nz-button-group>
                    <button *ngIf="info.privileges['app_privileges.read']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="详情" (click)="showDetail(item.id, false)">
                      <svg-icon iconPath="bi/info-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_privileges.update']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="编辑" (click)="showDetail(item.id, true)">
                      <svg-icon iconPath="bi/pencil-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_privileges.delete']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="删除"
                      (click)="delete(item.id)">
                      <svg-icon iconPath="bi/trash"></svg-icon>
                    </button>
                  </nz-button-group>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </ng-container>
      </nz-card>
      <ng-template #totalTpl let-total let-range="range">
        当前显示 {{total}} 条记录中的第 {{range[0]}} 至 {{range[1]}} 条
      </ng-template>
    </div>
  </div>
</div>
