<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">组织单元</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card" *ngIf="account.info | async as info">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">组织单元</h5>
          <div class="btn-group btn-group-sm">
            <button
              *ngIf="info.privileges['app_organize_units.create']"
              type="button"
              class="btn btn-outline-primary"
              (click)="showDetail('0', true)"
            >
              <svg-icon path="bi/plus"></svg-icon> 新建组织单元
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="loadData()"
            >
              <svg-icon path="bi/arrow-repeat"></svg-icon> 刷新
            </button>
          </div>
        </div>
        <div class="table-responsive p-2">
          <nz-table
            #expandTable
            [nzData]="listData"
            [nzShowPagination]="false"
            nzSize="small"
            [nzPageSize]="listData.length"
          >
            <thead>
              <tr>
                <th>名称</th>
                <th>说明</th>
                <th class="text-end">顺序</th>
                <th class="table-action-col-3 text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of expandTable.data">
                <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                  <td
                    [nzIndentSize]="item.level! * 16"
                    [nzShowExpand]="item.children && item.children.length > 0"
                    [nzExpand]="item.expand"
                    (nzExpandChange)="expandChange(item)"
                  >
                    {{ item.name }}
                  </td>
                  <td>{{ item.description }}</td>
                  <td class="text-end">{{ item.sequence }}</td>
                  <td>
                    <div class="btn-group btn-group-sm">
                      <button
                        *ngIf="info.privileges['app_organize_units.read_by_id']"
                        class="btn btn-outline-secondary"
                        ngbTooltip="详情"
                        placement="top"
                        [openDelay]="300"
                        container="body"
                        (click)="showDetail(item.id, false)"
                      >
                        <svg-icon path="bi/info-square"></svg-icon>
                      </button>
                      <button
                        *ngIf="info.privileges['app_organize_units.update']"
                        class="btn btn-outline-secondary"
                        ngbTooltip="编辑"
                        placement="top"
                        [openDelay]="300"
                        container="body"
                        (click)="showDetail(item.id, true)"
                      >
                        <svg-icon path="bi/pencil-square"></svg-icon>
                      </button>
                      <button
                        *ngIf="info.privileges['app_organize_units.delete']"
                        class="btn btn-outline-secondary"
                        ngbTooltip="删除"
                        placement="top"
                        [openDelay]="300"
                        container="body"
                        [disabled]="item.children && item.children.length > 0"
                        (click)="delete(item.id)"
                      >
                        <svg-icon path="bi/trash"></svg-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
