<nz-card class="ant-card-data-detail m-0"
  [nzTitle]="title" [nzExtra]="toolsTpl"
  [nzActions]="editable ? [okTpl, cancelTpl] : []">
  <ng-template #toolsTpl>
    <nz-space-compact>
      <button type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon class="me-1" iconPath="bi/check" /> 保存
      </button>
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <svg-icon class="me-1" iconPath="bi/x" /> 取消
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form nzLayout="vertical" #detailForm="ngForm">
    <nz-form-item>
      <nz-form-label nzFor="name" [nzRequired]="true">
        凭证名称
      </nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input nz-input type="text" id="name" name="name"
          placeholder="请输入凭证名称 ..."
          [(ngModel)]="model.name" [required]="true"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="value" [nzRequired]="true">
        凭证值
      </nz-form-label>
      <nz-input-group nzSearch [nzAddOnAfter]="refreshValueTpl">
        <input nz-input type="text" id="value" name="value"
          placeholder="请输入凭证值 ..." [required]="true" readonly
          [(ngModel)]="model.value"
          #value="ngModel"
        />
        <ng-template #refreshValueTpl>
          <button class="px-2" type="button" nzSearch nz-button nzType="default"
            nz-tooltip="刷新凭证值" (click)="newTokenValue()">
            <svg-icon iconPath="bi/arrow-repeat" />
          </button>
        </ng-template>
      </nz-input-group>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="expiresAt">
        过期时间
      </nz-form-label>
      <nz-form-control>
        <nz-date-picker class="w-100" id="expiresAt" nzId="expiresAt" name="expiresAt"
          nzPlaceHolder="设置凭证的过期时间，否者将永不过期。" [(ngModel)]="tokenExpiresAt"
          [nzDisabledDate]="disabledDate" [nzInputReadOnly]="true"
          [nzDisabled]="!editable" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>凭证角色</nz-form-label>
      <nz-form-control>
        @for (role of roles(); track role.id) {
          <label class="m-0" nz-checkbox [nzId]="role.id" [for]="role.id"
            [nzDisabled]="!editable" [nzValue]="role.name"
            [nzChecked]="isChecked(role.name, 'checkedRoles')"
            (nzCheckedChange)="toggleChecked($event, role.name, 'checkedRoles')">
            {{role.description}}
          </label>
        }
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>凭证权限</nz-form-label>
      <nz-form-control>
        @for (mp of privileges(); track mp.module) {
          <div class="m-1">
            <div class="fw-bolder">{{mp.module}}</div>
            @for (p of mp.privileges; track p.id) {
              <label class="m-0" nz-checkbox [nzId]="p.id" [for]="p.id"
                [nzDisabled]="!editable" [nzValue]="p.name"
                [nzChecked]="isChecked(p.name, 'checkedPrivileges')"
                (nzCheckedChange)="toggleChecked($event, p.name, 'checkedPrivileges')">
                {{p.description}}
              </label>
            }
          </div>
        }
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>允许的 url 地址 </nz-form-label>
      <nz-form-control>
        <nz-input-group class="mb-1" [nzAddOnAfter]="addUrlBtnTpl" nzSearch>
          <input type="text" nz-input id="newUrl" name="newUrl"
            placeholder="http:// ..." (keyup.enter)="addTokenUrl(newUrl)"
            #newUrl />
          <ng-template #addUrlBtnTpl>
            <button class="px-2" type="button" nz-button nzType="default"
              (click)="addTokenUrl(newUrl)">
              <nz-icon nzType="bi:plus" />
            </button>
          </ng-template>
        </nz-input-group>
        @for (url of tokenUrls(); track url) {
          <nz-input-group class="mb-1" [nzAddOnAfter]="delUrlTpl" nzSearch>
            <input type="text" nz-input readonly [value]="url" />
            <ng-template #delUrlTpl>
              <button class="px-2" type="button" nz-button nzType="default"
                (click)="removeTokenUrl(url)" nz-tooltip="点击删除这个地址">
                <nz-icon class="clickable" nzType="bi:x" />
              </button>
            </ng-template>
          </nz-input-group>
        }
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #okTpl>
    @if (editable) {
      <button class="float-start ms-4" type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <nz-icon class="me-1" nzType="bi:check" /> 保存
      </button>
    }
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4" type="button" nz-button nzType="default" (click)="cancel()">
      <nz-icon class="me-1" nzType="bi:x" /> 取消
    </button>
  </ng-template>
</nz-card>
