<nz-list [nzBordered]="listBordered()" [nzSize]="listSize()"
  [nzFooter]="listFooter()">
  <nz-list-header class="flex">
    {{listHeader()}}
    <button class="ms-auto" type="button" nz-button nzSize="small"
      (click)="loadAttachments()">
      <nz-icon nzType="sync" />
    </button>
  </nz-list-header>
  @let showDel = accountService.current().privileges['app_attachments.delete'] && allowDelete();
  @for (att of attachments(); track att.id) {
    <nz-list-item class="flex">
      {{att.fileName}}
      @if (showDel) {
        <button class="ms-auto" type="button" nz-button nzSize="small"
          (click)="deleteAttachment(att.id)" nz-tooltip="删除">
          <nz-icon nzType="close" />
        </button>
      }
    </nz-list-item>
  } @empty {
    <nz-list-item>
      无数据！
    </nz-list-item>
  }
</nz-list>
