<nz-card class="m-0" [nzTitle]="titleTpl" [nzExtra]="toolsTpl">
  <ng-template #titleTpl>
    <div class="d-flex flex-row align-items-center">
      <div>{{title}}</div>
      <nz-button-group class="ms-1" nzSize="small">
        <button type="button" nz-button nzType="default" nzSize="small"
          (click)="getFolderContentByPath('.')">
          <svg-icon class="me-1" iconPath="bi/house" /> {{params.alias}}
        </button>
        <button *ngFor="let bc of breadcrumbs"
          type="button" nz-button nzType="default" nzSize="small"
          (click)="getFolderContentByPath(bc.path)">
          {{bc.name}}
        </button>
      </nz-button-group>
    </div>
  </ng-template>
  <ng-template #toolsTpl>
    <nz-space>
      <nz-input-group *nzSpaceItem>
        <input nz-input type="text" placeholder="搜索..." (keyup)="search($event)" />
      </nz-input-group>
      <nz-button-group *nzSpaceItem>
        <button type="button" nz-button nzType="primary"
          (click)="ok()">
          <svg-icon class="me-1" iconPath="bi/check" /> 确定
        </button>
        <button type="button" nz-button nzType="default"
          (click)="cancel()">
          <svg-icon class="me-1" iconPath="bi/x" /> 取消
        </button>
      </nz-button-group>
    </nz-space>
  </ng-template>
  <cdk-virtual-scroll-viewport class="scroll-viewport" [itemSize]="15">
    <div class="rounded p-4 m-2 folder-item text-center d-inline-block border"
      *cdkVirtualFor="let item of filteredItems"
      [ngClass]="{ 'border-primary': item.name === selectedItem?.name }"
      [nz-tooltip]="item.name"
      (dblclick)="getFolderContent(item)" (click)="setSelectedItem(item)">
      <div [class]="getFolderItemClass(item)">
        <svg-icon [iconPath]="getFolderItemIconPath(item)" iconClass="bi bi-2x" />
      </div>
      <div class="mt-1 folder-item-name text-truncate user-select-none">
        {{ item.type === 'folder' ? item.name : item.name + '.' + item.ext }}
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</nz-card>
