<nz-card class="m-0" [nzTitle]="titleTpl" [nzExtra]="toolsTpl">
  <ng-template #titleTpl>
    <div class="flex flex-row items-center">
      <div>{{title}}</div>
      <nz-space-compact class="ms-1" nzSize="small">
        <button type="button" nz-button nzType="default" nzSize="small"
          (click)="getFolderContentByPath('.')">
          <nz-icon nzType="home" /> {{params.alias}}
        </button>
        @for (bc of breadcrumbs; track bc.name) {
          <button type="button" nz-button nzType="default" nzSize="small"
            (click)="getFolderContentByPath(bc.path)">
            {{bc.name}}
          </button>
        }
      </nz-space-compact>
    </div>
  </ng-template>
  <ng-template #toolsTpl>
    <nz-space>
      <nz-input-wrapper *nzSpaceItem>
        <input nz-input type="text" placeholder="搜索..." (keyup)="search($event)" />
      </nz-input-wrapper>
      <nz-space-compact *nzSpaceItem>
        <button type="button" nz-button nzType="primary" (click)="ok()">
          <nz-icon nzType="check" /> 确定
        </button>
        <button type="button" nz-button nzType="default" (click)="cancel()">
          <nz-icon nzType="close" /> 取消
        </button>
      </nz-space-compact>
    </nz-space>
  </ng-template>
  <cdk-virtual-scroll-viewport class="scroll-viewport" [itemSize]="15">
    <div class="rounded p-4 m-2 folder-item text-center inline-block border border-gray-300"
      *cdkVirtualFor="let item of filteredItems" [nz-tooltip]="item.name"
      [class.border-blue-500]="item.name === selectedItem?.name"
      (click)="setSelectedItem(item)" (dblclick)="getFolderContent(item)">
      <div [class]="getFolderItemClass(item)">
        <nz-icon [nzType]="getFolderItemIconPath(item)" class="icon-2x" />
      </div>
      <div class="mt-1 folder-item-name truncate select-none">
        {{ item.type === 'folder' ? item.name : item.name + '.' + item.ext }}
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</nz-card>
