<nz-card class="ant-card-data-detail" [nzTitle]="title" [nzExtra]="toolsTpl">
  <ng-template #toolsTpl>
    <nz-space-compact nzSize="small">
      <button type="button" nz-button nzType="primary" (click)="save()">
        <nz-icon nzType="check" /> 确定
      </button>
      <button type="button" nz-button nzType="default"(click)="cancel()">
        <nz-icon nzType="close" /> 取消
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form>
    <nz-form-item>
      <nz-form-control>
        @for (role of vm.roles | async; track role.id;) {
          <label class="m-0" nz-checkbox [nzId]="role.id" [for]="role.id"
            [nzDisabled]="!params.editable"
            [nzValue]="role.name" [nzChecked]="isChecked(role.name)"
            (nzCheckedChange)="toggleUserRole($event, role.name)">
            {{role.description}}
          </label>
        }
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
