<div class="container">
  <div class="row g-0">
    <nz-card class="ant-card-data-list" nzTitle="我的凭证" [nzExtra]="cardExtra">
      <ng-template #cardExtra>
        <nz-space>
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="standalone">
            <input type="text" nz-input placeholder="输入关键字进行搜索"
              name="userName" [(ngModel)]="vm.model.keywords"
              [ngModelOptions]="{ standalone: true }"
              (keyup.enter)="loadData({})"
            />
            <ng-template #standalone>
              <button *ngIf="vm.model.keywords"
                class="px-2" type="button" nz-button nzType="default"
                (click)="resetSearch()">
                <svg-icon iconPath="bi/x"></svg-icon>
              </button>
              <button class="px-2" type="button" nz-button nzType="default" nzSearch
                (click)="loadData({})">
                <svg-icon iconPath="bi/search"></svg-icon>
              </button>
            </ng-template>
          </nz-input-group>
          <nz-button-group *nzSpaceItem>
            <button type="button" nz-button nzType="primary" (click)="showDetail('0', true)">
              <svg-icon class="me-1" iconPath="bi/plus" /> 新建凭证
            </button>
            <button type="button" nz-button nzType="default" (click)="loadData({})">
              <svg-icon class="me-1" iconPath="bi/arrow-repeat" /> 刷新
            </button>
          </nz-button-group>
        </nz-space>
      </ng-template>
      <nz-table nzSize="small" [nzFrontPagination]="false"
        [nzShowSizeChanger]="true"
        [nzShowPagination]="true"
        [nzShowQuickJumper]="true"
        [nzData]="vm.tokens"
        [nzTotal]="vm.total"
        [nzShowTotal]="totalTpl"
        [nzLoading]="vm.loading"
        [nzPageIndex]="vm.pageIndex"
        [nzPageSize]="vm.pageSize"
        [nzPageSizeOptions]="vm.pageSizeOptions"
        (nzQueryParams)="loadData($event)">
        <thead>
        <tr class="sticky-top">
          <th scope="col" class="text-end">#</th>
          <th scope="col" class="text-start">名称</th>
          <th scope="col" class="text-center">凭证值</th>
          <th scope="col" class="text-end">权限</th>
          <th scope="col" class="text-end">代表的角色</th>
          <th scope="col" class="text-end">允许的地址</th>
          <th scope="col" class="text-center">更新时间</th>
          <th scope="col" class="text-center">过期时间</th>
          <th scope="col" class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let token of vm.tokens;let i = index;">
          <th scope="row" class="text-end text-muted">{{i+1}}</th>
          <td class='text-start'>{{token.name}}</td>
          <td class='text-center'>{{token.value}}</td>
          <td class='text-end'>{{token.privileges?.length}}</td>
          <td class='text-end'>{{token.roles?.length}}</td>
          <td class='text-end'>{{token.urls?.length}}</td>
          <td class='text-center'>{{token.updateTime | date:'yyyy-MM-dd'}}</td>
          <td class='text-center' [class.text-danger]="isExpires(token.expiresAt)">{{token.expiresAt | date:'yyyy-MM-dd'}}</td>
          <td class="text-center">
            <nz-button-group>
              <button class="px-2" type="button"
                nz-button nzType="default"
                nz-tooltip="编辑" nzTooltipPlacement="top"
                (click)="showDetail(token.id, true)">
                <svg-icon iconPath="bi/pencil-square"></svg-icon>
              </button>
              <button class="px-2" type="button"
                nz-button nzType="default"
                nz-tooltip="删除" nzTooltipPlacement="top"
                (click)="delete(token.id)">
                <svg-icon iconPath="bi/trash"></svg-icon>
              </button>
            </nz-button-group>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <ng-template #totalTpl let-total let-range="range">
      当前显示 {{total}} 条记录中的第 {{range[0]}} 至 {{range[1]}} 条
    </ng-template>
  </div>
</div>
