@let user = account.current();
<nz-card class="ant-card-data-detail m-0" [nzTitle]="title" [nzExtra]="toolsTpl">
  <ng-template #toolsTpl>
    <nz-button-group>
      @if (user.privileges['app_users.reset_pass']) {
        <button type="button" type="button" nz-button nzType="primary"
          [disabled]="!form.valid" (click)="save()">
          <svg-icon class="me-1" iconPath="bi/check" /> 保存
        </button>
      }
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <svg-icon class="me-1" iconPath="bi/x" /> 取消
      </button>
    </nz-button-group>
  </ng-template>
  <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-label nzFor="password" [nzRequired]="true">密码</nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input type="password" id="password" name="password"
          placeholder="请输入用户密码，至少 8 个字符 ..." formControlName="password"
          autocomplete="new-password" nz-input [required]="true"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="confirmPassword" [nzRequired]="true">确认密码</nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input type="password" id="confirmPassword" name="confirmPassword"
          placeholder="请确认用户密码 ..." formControlName="confirmPassword"
          autocomplete="off" nz-input [required]="true"
        />
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-card>
