@let user = account.current();
<nz-card class="ant-card-data-detail" [nzTitle]="title" [nzExtra]="toolsTpl"
  [nzActions]="params.editable ? [okTpl, cancelTpl] : []">
  <ng-template #toolsTpl>
    <nz-space-compact nzSize="small">
      @if (user.privileges['app_privileges.update'] && params.editable) {
        <button type="button" nz-button nzType="primary"
          (click)="save()" [disabled]="!detailForm.valid">
          <nz-icon nzType="check" /> 保存
        </button>
      }
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <nz-icon nzType="close" /> 取消
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form nzLayout="vertical" #detailForm="ngForm">
    <nz-form-item>
      <nz-form-label nzFor="module" [nzRequired]="true">
        权限模块
      </nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input type="text" id="module" name="module" nz-input
          placeholder="请输入权限模块 ..." [(ngModel)]="model.module"
          [required]="true" [disabled]="!params.editable"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="name" [nzRequired]="true">
        权限名称
      </nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input type="text" id="name" name="name" nz-input
          placeholder="请输入权限名称 ..." [(ngModel)]="model.name"
          [required]="true" [disabled]="!params.editable"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="description" [nzRequired]="true">权限描述</nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input type="text" id="description" name="description" nz-input
          placeholder="请输入权限描述 ..." [(ngModel)]="model.description"
          [required]="true" [disabled]="!params.editable"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <label id="isRequired" name="isRequired" for="isRequired" nz-checkbox
        [(ngModel)]="model.isRequired" [nzDisabled]="!params.editable">
        必须的权限
      </label>
    </nz-form-item>
  </form>
  <ng-template #okTpl>
    @if (user.privileges['app_privileges.update'] && params.editable) {
      <button class="float-start ms-4!" type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <nz-icon nzType="check" /> 保存
      </button>
    }
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4!" type="button" nz-button nzType="default" (click)="cancel()">
      <nz-icon nzType="close" /> 取消
    </button>
  </ng-template>
</nz-card>
