<nz-list [nzBordered]="listBordered()" [nzSize]="listSize()"
  [nzFooter]="listFooter()">
  <nz-list-header class="d-flex">
    {{listHeader()}}
    <button class="ms-auto px-1" type="button" nz-button nzSize="small"
      (click)="loadData()">
      <nz-icon nzType="sync" />
    </button>
  </nz-list-header>
  @let user = accountService.current();
  @let showDel = user.privileges['app_json_data.delete'] && allowDelete();
  @let showUpdate = user.privileges['app_json_data.update'] && allowUpdate();
  @for (item of data(); track item.id) {
    <nz-list-item class="d-flex flex-row">
      <span>{{item.name}}
        <i class="text-muted">(更新时间：{{item.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}})</i>
      </span>
      <nz-space-compact class="ms-auto" nzSize="small">
        @if (showUpdate) {
          <button class="px-1" type="button" nz-button nzSize="small"
            (click)="update(item.id!)" nz-tooltip="更新">
            <nz-icon nzType="bi:pencil-square" />
          </button>
        }
        @if (showDel) {
          <button class="px-1" type="button" nz-button nzSize="small"
            (click)="delete(item.id!)" nz-tooltip="删除">
            <nz-icon nzType="close" />
          </button>
        }
      </nz-space-compact>
    </nz-list-item>
  } @empty {
    <nz-list-item>
      无数据！
    </nz-list-item>
  }
</nz-list>
<input class="d-none" type="file" #fileInput [accept]="accept()"
  (change)="onFileChange($event)"
/>
