<mat-list>
  <mat-list-item class="flex items-start">
    <img matListItemAvatar src="./assets/user.png" alt="User" />
    <div matListItemTitle [matMenuTriggerFor]="userMenu">{{account.current().userName}}</div>
    <button matListItemMeta mat-icon-button (click)="toggleDrawer()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">注销</button>
</mat-menu>
<mat-nav-list>
  @for (item of vm.menuItems | async; track item.link) {
    <a mat-list-item (click)="toggleDrawer()" [routerLink]="item.link">
      <mat-icon class="me-3" matListItemIcon>{{item.icon}}</mat-icon>
      <div>{{item.text}}</div>
    </a>
  }
</mat-nav-list>
