@let user = account.current();
<nz-card class="ant-card-data-detail" [nzTitle]="title" [nzExtra]="toolsTpl"
  [nzActions]="params.editable ? [okTpl, cancelTpl] : []">
  <ng-template #toolsTpl>
    <nz-space-compact nzSize="small">
      @if (user.privileges['app_nav_items.update'] && params.editable) {
        <button type="button" nz-button nzType="primary"
          (click)="save()" [disabled]="!detailForm.valid">
          <nz-icon nzType="check" /> 保存
        </button>
      }
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <nz-icon nzType="close" /> 取消
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form nzLayout="vertical" #detailForm="ngForm">
    <div class="flex gap-3">
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label nzFor="parentId" [nzRequired]="true">父节点</nz-form-label>
          <nz-form-control nzHasFeedback="true">
            <nz-select nzId="parentId" name="parentId" [(ngModel)]="model.parentId"
              [nzDisabled]="!params.editable">
              @for (p of parents; track p.id) {
                <nz-option [nzValue]="p.id" [nzLabel]="p.title!" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label nzFor="title" [nzRequired]="true">标题</nz-form-label>
          <nz-form-control [nzHasFeedback]="true">
            <input type="text" id="title" name="title"
               placeholder="请输入标题 ..." nz-input [(ngModel)]="model.title"
               [required]="true" [disabled]="!params.editable"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label nzFor="sequence" [nzRequired]="true">顺序</nz-form-label>
          <nz-form-control [nzHasFeedback]="true">
            <nz-input-number class="w-full!" nzId="sequence" name="sequence" nzPlaceHolder="请输入顺序 ..."
              [(ngModel)]="model.sequence" [required]="true" [nzDisabled]="!params.editable">
            </nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="flex gap-3">
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label nzFor="target" [nzRequired]="true">导航窗口</nz-form-label>
          <nz-form-control [nzHasFeedback]="true">
            <nz-select nzId="target" name="target"
              [(ngModel)]="model.target" [disabled]="!params.editable">
              @for (_t of targets; track _t.value) {
                <nz-option [nzValue]="_t.value" [nzLabel]="_t.name" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex-2">
        <nz-form-item>
          <nz-form-label nzFor="url" [nzRequired]="true">导航地址</nz-form-label>
          <nz-form-control [nzHasFeedback]="true">
            <input type="text" id="url" name="url"
              placeholder="请输入导航地址 ..." nz-input [(ngModel)]="model.url"
              [required]="true" [disabled]="!params.editable"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    @if (model.target === '_iframe') {
      <nz-form-item>
        <nz-form-label nzFor="frame_url" [nzRequired]="true">内嵌窗口地址</nz-form-label>
        <nz-form-control [nzHasFeedback]="true">
          <input type="text" id="frame_url" name="frameUrl"
            placeholder="请输入内嵌窗口地址 ..." nz-input [(ngModel)]="model.frameUrl"
            required [disabled]="!params.editable"
          />
        </nz-form-control>
      </nz-form-item>
    }
    <div class="flex gap-3">
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label nzFor="icon">图标</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSearch [nzAddOnAfter]="iconLibBtn">
              <input type="text" nz-input id="icon" name="icon"
                placeholder="请输入图标 ..." [(ngModel)]="model.icon"
                [disabled]="!params.editable"
              />
            </nz-input-group>
            <ng-template #iconLibBtn>
              @if (params.editable && user.privileges['app_storages.read_folder_content']) {
                <button class="px-2" type="button" nz-button nzType="default" nzSearch
                  nz-tooltip="从图标库查找图标" (click)="showIconDialog()">
                  <nz-icon nzType="search" />
                </button>
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex-2">
        <nz-form-item>
          <nz-form-label nzFor="tooltip">提示文字 </nz-form-label>
          <nz-form-control>
            <input type="text" id="tooltip" name="tooltip"
              placeholder="请输入提示文字 ..."  nz-input [(ngModel)]="model.tooltip"
              [disabled]="!params.editable"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <label id="isHidden" name="isHidden" for="isHidden" nz-checkbox
        [(ngModel)]="model.isHidden" [nzDisabled]="!params.editable">隐藏菜单项</label>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="roles">菜单角色</nz-form-label>
      <nz-form-control>
        @for (role of vm.roles; track role.id) {
          <label class="m-0"
            nz-checkbox [nzId]="role.id" [for]="role.id"
            [nzDisabled]="!params.editable" [nzValue]="role.name"
            [nzChecked]="isRoleChecked(role.name)"
            (nzCheckedChange)="toggleCheckedRole(role.name)">
            {{role.description}}
          </label>
        }
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #okTpl>
    @if (user.privileges['app_nav_items.update'] && params.editable) {
      <button class="float-start ms-4!" type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <nz-icon nzType="check" /> 保存
      </button>
    }
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4!" type="button" nz-button nzType="default" (click)="cancel()">
      <nz-icon nzType="close" /> 取消
    </button>
  </ng-template>
</nz-card>
