@let user = account.current();
<nz-card class="ant-card-data-detail" [nzTitle]="title" [nzExtra]="toolsTpl"
  [nzActions]="params.editable ? [okTpl, cancelTpl] : []" >
  <ng-template #toolsTpl>
    <nz-space-compact nzSize="small">
      @if (user.privileges['app_roles.update'] && params.editable) {
        <button type="button" nz-button nzType="primary"
          (click)="save()" [disabled]="!detailForm.valid">
          <nz-icon nzType="check" /> 保存
        </button>
      }
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <nz-icon nzType="close" /> 取消
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form nzLayout="vertical" #detailForm="ngForm">
    <nz-form-item>
      <nz-form-label nzFor="name" [nzRequired]="true">角色名称</nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input nz-input type="text" id="name" name="name"
          placeholder="请输入角色名称 ..." [(ngModel)]="model.name"
          [disabled]="!params.editable || params.id !=='0'"
          [required]="true"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="description" [nzRequired]="true">角色描述</nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <input nz-input type="text" id="description" name="description"
          placeholder="请输入角色描述 ..." [(ngModel)]="model.description"
          [disabled]="!params.editable" [required]="true"
        />
      </nz-form-control>
    </nz-form-item>
    <div class="row">
      <div class="col">
        <nz-form-item>
          <label nz-checkbox nzId="isDefault" for="isDefault" id="isDefault"
            name="isDefault" [(ngModel)]="model.isDefault" [nzDisabled]="!params.editable">
            是否默认
          </label>
        </nz-form-item>
      </div>
      <div class="col">
        <nz-form-item>
          <label nz-checkbox nzId="isAnonymous" for="isAnonymous" id="isAnonymous"
            name="isAnonymous" [(ngModel)]="model.isAnonymous" [nzDisabled]="!params.editable">
            是否匿名
          </label>
        </nz-form-item>
      </div>
    </div>
  </form>
  <ng-template #okTpl>
    @if (user.privileges['app_roles.update'] && params.editable) {
      <button class="float-start ms-4!" type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <nz-icon nzType="check" /> 保存
      </button>
    }
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4!" type="button" nz-button nzType="default" (click)="cancel()">
      <nz-icon nzType="close" /> 取消
    </button>
  </ng-template>
</nz-card>
