<form class="card detail" nz-form nzLayout="vertical" *ngIf="(account.info | async) as info" #detailForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['app_organize_unit.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="cancel()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <nz-form-item *ngIf="(vm.treeNodes | async) as treeNodes">
      <nz-form-label nzRequired>上级组织单元</nz-form-label>
      <nz-form-control>
        <nz-tree-select class="w-100" id="parentId" name="parentId" nzSize="large"
          [(ngModel)]="model.parentId" [nzDisabled]="!editable"
          nzPlaceHolder="请选择上级组织单元" [nzNodes]="treeNodes" nzShowSearch>
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>
    <div nz-row [nzGutter]="8">
      <div nz-col nzFlex="1">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">名称</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input nzSize="large" type="text" id="name" name="name"
              placeholder="请输入组织单元名称 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="sequence">排序</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number nzSize="large" type="number" id="sequence" name="sequence"
              nzPlaceHolder="请输入排序..." required
              [disabled]="!editable"
              [(ngModel)]="model.sequence"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label nzFor="description">组织单元说明 </nz-form-label>
      <nz-form-control>
        <textarea nz-input id="description" name="description"
          placeholder="请输入组织单元说明 ..."
          [(ngModel)]="model.description" [disabled]="!editable">
        </textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div *ngIf="info.privileges['app_organize_unit.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="cancel()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
