@let user = account.current();
<nz-card class="ant-card-data-detail m-0"
  [nzTitle]="title" [nzExtra]="toolsTpl" [nzActions]="editable ? [okTpl, cancelTpl] : []">
  <ng-template #toolsTpl>
    <nz-space-compact nzSize="small">
      @if (user.privileges['app_organize_units.update'] && editable) {
        <button type="button" nz-button nzType="primary"
          (click)="save()" [disabled]="!detailForm.valid">
          <nz-icon nzType="check" /> 保存
        </button>
      }
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <nz-icon nzType="close" /> 取消
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form nzLayout="vertical" #detailForm="ngForm">
    @if (vm.treeNodes | async; as treeNodes) {
      <nz-form-item>
        <nz-form-label nzRequired>上级组织单元</nz-form-label>
        <nz-form-control>
          <nz-tree-select class="w-100" id="parentId" name="parentId" nzSize="default"
            [(ngModel)]="model.parentId" [nzDisabled]="!editable"
            nzPlaceHolder="请选择上级组织单元" [nzNodes]="treeNodes" nzShowSearch>
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
    }
    <div nz-row [nzGutter]="8">
      <div nz-col nzFlex="1">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">名称</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input nzSize="default" type="text" id="name" name="name"
              placeholder="请输入组织单元名称 ..." required
              [disabled]="!editable"
              [(ngModel)]="model.name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="sequence">排序</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number class="w-100" nzSize="default" type="number" id="sequence" name="sequence"
              nzPlaceHolder="请输入排序..." required
              [disabled]="!editable"
              [(ngModel)]="model.sequence"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label nzFor="description">组织单元说明 </nz-form-label>
      <nz-form-control>
        <textarea nz-input id="description" name="description"
          placeholder="请输入组织单元说明 ..."
          [(ngModel)]="model.description" [disabled]="!editable">
        </textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #okTpl>
    @if (user.privileges['app_organize_units.update'] && editable) {
      <button class="float-start ms-4" type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <nz-icon nzType="check" /> 保存
      </button>
    }
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4" type="button" nz-button nzType="default" (click)="cancel()">
      <nz-icon nzType="close" /> 取消
    </button>
  </ng-template>
</nz-card>
