<nz-breadcrumb class="m-3">
  <nz-breadcrumb-item><a routerLink="/">首页</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/admin">管理</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="container-fluid">
  <div class="row g-2">
    <div class="col-2">
      <nz-card nzTitle="组织单元" [nzExtra]="orgUnitExtraTpl" [nzBodyStyle]="{ padding: '0.25rem' }">
        <ng-template #orgUnitExtraTpl>
          <button class="px-2" type="button" nz-button nzType="default"
            (click)="loadOrganizeUnit()">
            <svg-icon iconPath="bi/arrow-repeat"></svg-icon>
          </button>
        </ng-template>
        <ng-container *ngIf="(organizeUnitSvc.treeNodes | async) as treeNodes">
          <nz-tree [nzData]="treeNodes" (nzClick)="onOrganizeUnitClick($event)"></nz-tree>
        </ng-container>
      </nz-card>
    </div>
    <div class="col">
      <nz-card *ngIf="(account.info | async) as info"
        class="ant-card-data-list" nzTitle="用户" [nzExtra]="cardExtraTpl">
        <ng-template #cardExtraTpl>
          <form nz-form>
            <nz-space>
              <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="userNameAddOnTpl">
                <input name="userName" type="text" nz-input
                  placeholder="按用户名搜索"
                  [(ngModel)]="vm.searchModel.userName"
                  (keyup.enter)="vm.search()"
                />
                <ng-template #userNameAddOnTpl>
                  <button *ngIf="vm.searchModel.userName"
                    class="px-2" type="button" nz-button nzType="default"
                    (click)="cleanUserSearch()">
                    <svg-icon iconPath="bi/x"></svg-icon>
                  </button>
                  <button class="px-2" type="button" nz-button nzType="default" nzSearch (click)="vm.search()">
                    <svg-icon iconPath="bi/search"></svg-icon>
                  </button>
                </ng-template>
              </nz-input-group>
              <nz-select *nzSpaceItem name="roleName"
                [(ngModel)]="vm.searchModel.roleName" (ngModelChange)="research()">
                <nz-option nzValue="" nzLabel="全部用户"></nz-option>
                <nz-option *ngFor="let r of vm.roles | async"
                  [nzValue]="r.name"
                  [nzLabel]="r.description || r.name + '(' + r.userCount + ')'">
                </nz-option>
              </nz-select>
              <nz-select *nzSpaceItem name="sortBy" [(ngModel)]="vm.searchModel.sortBy"
                (ngModelChange)="vm.search()">
                <nz-option *ngFor="let sm of vm.sortMethods"
                  [nzValue]="sm.value" [nzLabel]="sm.text">
                </nz-option>
              </nz-select>
              <nz-button-group *nzSpaceItem>
                <button *ngIf="info.privileges['app_users.create']"
                  type="button" nz-button nzType="primary"
                  (click)="showDetail('0', true)">
                  <svg-icon class="me-1" iconPath="bi/plus"></svg-icon> 新建用户
                </button>
                <button type="button" nz-button nzType="default" (click)="vm.search()">
                  <svg-icon class="me-1" iconPath="bi/arrow-repeat"></svg-icon> 刷新
                </button>
              </nz-button-group>
            </nz-space>
          </form>
        </ng-template>
        <ng-container *ngIf="(vm.data | async) as data">
          <nz-table nzSize="small" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true"
            [nzShowPagination]="true"
            [nzShowQuickJumper]="true"
            [nzData]="data"
            [nzTotal]="(vm.total | async)!"
            [nzShowTotal]="totalTpl"
            [nzLoading]="vm.loading"
            [nzPageIndex]="vm.pageIndex"
            [nzPageSize]="vm.pageSize"
            [nzPageSizeOptions]="vm.pageSizeOptions"
            (nzQueryParams)="loadData($event)">
            <thead>
              <tr class="sticky-top">
                <th scope="col" class="text-end table-row-num-col">#</th>
                <th scope="col" class="text-start">组织单元</th>
                <th scope="col" class="text-start">用户名</th>
                <th scope="col" class="text-center">电话</th>
                <th scope="col" class="text-center">创建时间</th>
                <th scope="col" class="text-center">最近登录</th>
                <th scope="col" class="text-end">登录次数</th>
                <th scope="col" class="text-center text-nowrap text-muted table-action-col-2">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-end">{{i + 1}}</th>
                <td class="text-center">{{item.organizeUnit?.name}}</td>
                <td class="text-start">
                  @if (isLockout(item)) {
                    <span class="clickable" nz-tooltip="该用户已经被锁定！" nzTooltipPlacement="right">
                      {{getFullname(item)}}
                      <svg-icon class="text-danger clickable" iconPath="bi/ban" />
                    </span>
                  }
                  @else {
                    {{getFullname(item)}}
                  }
                </td>
                <td class="text-center">{{item.phoneNumber}}</td>
                <td class="text-center">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-center">{{item.lastLogin | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-end">{{item.loginCount}}</td>
                <td class="text-center">
                  <nz-button-group>
                    <button *ngIf="info.privileges['app_users.read']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="详情" nzTooltipPlacement="top"
                      (click)="showDetail(item.id, false)">
                      <svg-icon iconPath="bi/info-square"></svg-icon>
                    </button>
                    <button *ngIf="canViewGears()"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="详情" nzTooltipPlacement="top"
                      nz-dropdown nzTrigger="click" [nzDropdownMenu]="userMenuTpl">
                      <svg-icon iconPath="bi/three-dots"></svg-icon>
                    </button>
                    <nz-dropdown-menu #userMenuTpl="nzDropdownMenu">
                      <div nz-menu>
                        <li nz-menu-item *ngIf="info.privileges['app_users.update']"
                          (click)="showDetail(item.id, true)">
                          <svg-icon class="me-2" iconPath="bi/pencil-square"></svg-icon> 编辑
                        </li>
                        @if (isLockout(item)) {
                          <li nz-menu-item *ngIf="info.privileges['app_users.unlock']"
                            (click)="vm.unlockUser(item.id)">
                            <svg-icon class="me-2" iconPath="bi/unlock"></svg-icon> 解锁
                          </li>
                        } @else {
                          <li nz-menu-item *ngIf="info.privileges['app_users.lock']"
                            (click)="showLock(item)">
                            <svg-icon class="me-2" iconPath="bi/lock"></svg-icon> 锁定
                          </li>
                        }
                        <li nz-menu-item *ngIf="info.privileges['app_users.reset_pass']"
                          (click)="showPassword(item)">
                          <svg-icon class="me-2" iconPath="bi/key"></svg-icon> 重置密码
                        </li>
                        <li nz-menu-item *ngIf="info.privileges['app_users.read_user_roles']"
                          (click)="showRoles(item)">
                          <svg-icon class="me-2" iconPath="bi/shield-check"></svg-icon> 角色
                        </li>
                        <li nz-menu-item *ngIf="info.privileges['app_users.delete']"
                          (click)="delete(item.id)">
                          <svg-icon class="me-2" iconPath="bi/trash"></svg-icon> 删除
                        </li>
                      </div>
                    </nz-dropdown-menu>
                  </nz-button-group>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </ng-container>
      </nz-card>
      <ng-template #totalTpl let-total let-range="range">
        当前显示 {{total}} 条记录中的第 {{range[0]}} 至 {{range[1]}} 条
      </ng-template>
    </div>
  </div>
</div>
