<nz-breadcrumb class="m-3">
  <nz-breadcrumb-item><a routerLink="/">首页</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><a routerLink="/admin">管理</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>导航菜单</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nz-card *ngIf="(account.info | async) as info"
        class="ant-card-data-list" nzTitle="导航菜单" [nzExtra]="cardExtra">
        <ng-template #cardExtra>
          <nz-button-group>
            <button *ngIf="info.privileges['app_nav_items.create']"
              type="button" nz-button nzType="primary"
              (click)="showDetail('0', true)">
              <svg-icon class="me-1" iconPath="bi/plus"></svg-icon> 新建菜单项
            </button>
            <button type="button" nz-button nzType="default"
              (click)="vm.search()">
              <svg-icon class="me-1" iconPath="bi/arrow-repeat"></svg-icon> 刷新
            </button>
          </nz-button-group>
        </ng-template>
        <div class="table-responsive" *ngIf="(vm.data | async) as data">
          <nz-table nzSize="small" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true"
            [nzShowPagination]="true"
            [nzShowQuickJumper]="true"
            [nzData]="data"
            [nzTotal]="(vm.total | async)!"
            [nzShowTotal]="totalTpl"
            [nzLoading]="vm.loading"
            (nzQueryParams)="loadData($event)">
            <thead>
              <tr>
                <th scope="col" class="text-end text-nowrap table-row-num-col">#</th>
                <th scope="col" class="text-start text-nowrap">标题</th>
                <th scope="col" class="text-start text-nowrap">提示文字</th>
                <th scope="col" class="text-start text-nowrap">图标</th>
                <th scope="col" class="text-start text-nowrap">导航地址</th>
                <th scope="col" class="text-center text-nowrap">顺序</th>
                <th scope="col" class="text-center text-nowrap table-action-col-3">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-end">{{i+1+vm.searchModel.skip}}</th>
                <td class='text-start'>{{item.title}}</td>
                <td class='text-start'>{{item.tooltip}}</td>
                <td class='text-start'><svg-icon *ngIf="item.icon" iconClass="bi" [iconPath]="item.icon"></svg-icon> {{item.icon}}</td>
                <td class='text-start'>{{item.url}}</td>
                <td class='text-end'>{{item.sequence}}</td>
                <td class="text-center">
                  <nz-button-group>
                    <button *ngIf="info.privileges['app_nav_items.read']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="详情" nzTooltipPlacement="top"
                      (click)="showDetail(item.id, false)">
                      <svg-icon iconPath="bi/info-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_nav_items.update']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="编辑" nzTooltipPlacement="top"
                      (click)="showDetail(item.id, true)">
                      <svg-icon iconPath="bi/pencil-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_nav_items.delete']"
                      class="px-2" type="button" nz-button nzType="default"
                      nz-tooltip="删除" nzTooltipPlacement="top"
                      (click)="delete(item.id)">
                      <svg-icon iconPath="bi/trash"></svg-icon>
                    </button>
                  </nz-button-group>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-card>
      <ng-template #totalTpl let-total let-range="range">
        当前显示 {{total}} 条记录中的第 {{range[0]}} 至 {{range[1]}} 条
      </ng-template>
    </div>
  </div>
</div>
