<nz-card class="ant-card-data-detail" [nzTitle]="title" [nzExtra]="toolsTpl">
  <ng-template #toolsTpl>
    <nz-space-compact nzSize="small">
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <nz-icon nzType="close" /> 关闭
      </button>
    </nz-space-compact>
  </ng-template>
  <form nz-form nzLayout="vertical">
    <div class="flex gap-3">
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label>日志ID</nz-form-label>
          <nz-form-control>
            {{model.id}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label>创建时间</nz-form-label>
          <nz-form-control>
            {{model.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="flex gap-3">
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label>线程</nz-form-label>
          <nz-form-control>{{model.thread}}</nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex-1">
        <nz-form-item>
          <nz-form-label>日志级别</nz-form-label>
          <nz-form-control>{{model.level}}</nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-label>记录者</nz-form-label>
      <nz-form-control>{{model.logger}}</nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>日志消息</nz-form-label>
      <nz-form-control>
        {{model.message || '无日志消息'}}
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>异常信息</nz-form-label>
      <nz-form-control>
        {{model.exception || '无日志信息'}}
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
