<nz-card *ngIf="(account.info | async) as info"
  class="ant-card-data-detail m-0"
  [nzTitle]="title" [nzExtra]="toolsTpl">
  <ng-template #toolsTpl>
    <nz-button-group>
      <button *ngIf="info.privileges['app_users.lock']"
        type="button" type="button" nz-button nzType="primary"
        [disabled]="!lockForm.valid" (click)="save()">
        <svg-icon class="me-1" iconPath="bi/check" /> 保存
      </button>
      <button type="button" nz-button nzType="default" (click)="cancel()">
        <svg-icon class="me-1" iconPath="bi/x" /> 取消
      </button>
    </nz-button-group>
  </ng-template>
  <form nz-form [formGroup]="lockForm" (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-label nzFor="lockoutEnd" [nzRequired]="true">锁定至</nz-form-label>
      <nz-form-control [nzHasFeedback]="true">
        <nz-date-picker class="w-100" id="lockoutEnd" nzId="lockoutEnd" nzFormat="yyyy-MM-dd"
          [nzAllowClear]="false" [nzDisabledDate]="disabledDate"
          placeholder="请选择锁定截止时间 ..." formControlName="lockoutEnd"
          [nzInputReadOnly]="true"
          required />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
