<div class="container">
  <div class="row">
    <div class="col col-login mx-auto">
      <nz-card nzTitle="登录您的账户">
        <form nz-form nzLayout="vertical" #loginForm="ngForm" (submit)="login()" method="post">
          <nz-form-item>
            <nz-form-label nzFor="username" nzRequired>用户名</nz-form-label>
            <nz-form-control>
              <input nz-input nzSize="large" type="text" id="username" name="username"
                placeholder="请输入用户名 ..." [(ngModel)]="model.userName"
                required autocomplete="username"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="password" nzRequired>密码</nz-form-label>
            <nz-form-control>
              <input nz-input nzSize="large" type="password" name="password"
                placeholder="请输入密码 ..." required id="password"
                [(ngModel)]="model.password"
                autocomplete="current-password"
                (keyup)="passwordKeyUp($event, loginForm)"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <button nz-button nzType="primary" nzSize="large"
              [disabled]="(!loginForm.valid) || loading"
              type="button" (click)="login()">
              @if (loading) {
                <svg-icon iconPath="bi/arrow-repeat" iconClass="bi-spin"></svg-icon> 登录中 ...
              } @else {
                登录
              }
            </button>
          </nz-form-item>
          @if (message | async; as msg) {
            <nz-alert class="login-error-alert" nzType="error"
              [nzCloseable]="true" (nzOnClose)="clearMessage()"
              [nzShowIcon]="true"
              [nzMessage]="msg">
            </nz-alert>
          }
        </form>
      </nz-card>
    </div>
  </div>
</div>
