:host {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #f8f9fa;
}

.login {
  max-width: 24rem;
}

.captcha-item ::ng-deep span.ant-input-group-addon {
  padding: 0 0 !important;
  width: 118px;
  height: 38px;
}
